{% extends 'layout_admin.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
    <div class="container admin">

        <a href="{{ path('event_index') }}" class="btn btn-secondary mt-5 mb-5">
            <i class="fas fa-reply mr-2"></i> Retour
        </a>

        <div class="d-flex align-items-center mb-5">
            <h1>{{ event.title }}</h1>
            <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-secondary ml-3">
                <i class="fas fa-cog mr-2"></i> Modifier
            </a>
        </div>

        <table class="table table-striped table-dark mb-5">
            <tbody>
            <tr>
                <th>Date</th>
                <td>{{ event.date|date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ event.city }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td><img src="{{ event.picture }}" alt="Photo de {{ event.title }}" class="picture-show"></td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>
                    <ul>
                        <li class="listing">
                            {% for member in event.members %}
                                {{ member.alias }}
                            {% else %}
                                Aucun participant enregistré
                            {% endfor %}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
